.sign-in__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: black;
}

.sign-in__backdrop {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.sign-in__wrapper form {
  width: 24rem;
  max-width: 90%;
  z-index: 1;
  
}

.sign-in__wrapper form img {
  width: 4rem;
}

.hr-container {
  display: flex;
  align-items: center;
  text-align: center;
  width: 90%;
 
}

.hr-container::before,
.hr-container::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #4f4e4e;
}

.hr-container:not(:empty)::before {
  margin-right: .25em;
}

.hr-container:not(:empty)::after {
  margin-left: .15em;
}


.scrollable-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollable-container::-webkit-scrollbar {
  display: none;
}

.row-height {
  height: auto;
}

.mt-4 {
  margin-top: 1.5rem !important;
 
}

footer {
  margin-top: 1rem;
}